<div class="form-wrapper">

  <!-- HEADER -->
  <div class="header">
    <h1>CARDIOPULMONARY ARREST FORM</h1>
    <p>Clinical Documentation System</p>
  </div>



  <form (ngSubmit)="submitForm()">

    <!-- SECTION A -->
   <section id="A" class="card">

  <h2>Patient Details</h2>

  <div class="grid">

    <div class="field-group">
      <label>Patient Name</label>
      <input type="text"
        name="PatientName"
        [(ngModel)]="formData.patientName">
    </div>

    <div class="field-group">
      <label>Date & Time of Arrest</label>
      <input type="datetime-local"
        name="arrestDateTime"
        [(ngModel)]="formData.arrestDateTime">
    </div>

    <div class="field-group">
      <label>Location</label>
      <input type="text"
        name="location"
        [(ngModel)]="formData.location">
    </div>

    <div class="field-group">
      <label>Doctor Informed By</label>
      <input type="text"
        name="doctorInformedBy"
        [(ngModel)]="formData.doctorInformedBy">
    </div>

    <div class="field-group">
      <label>Doctor Name</label>
      <input type="text"
        name="doctorName"
        [(ngModel)]="formData.doctorName">
    </div>

    <div class="field-group">
      <label>Relative Name</label>
      <input type="text"
        name="relativeName"
        [(ngModel)]="formData.relativeName">
    </div>

    <div class="field-group">
      <label>Ambulance Called By</label>
      <input type="text"
        name="ambulanceCalledBy"
        [(ngModel)]="formData.ambulanceCalledBy">
    </div>

  </div>

</section>

    <!-- SECTION B -->
   <section id="B" class="card">

  <h2>Section B - Clinical</h2>

  <div class="grid">

    <div class="field-group">
      <label>Respiration</label>
      <input
        type="text"
        name="respiration"
        [(ngModel)]="formData.respiration">
    </div>

    <div class="field-group">
      <label>Oxygen Administered (L/min)</label>
      <input
        type="text"
        name="oxygen"
        [(ngModel)]="formData.oxygen">
    </div>

    <div class="field-group">
      <label>Pulse</label>
      <input
        type="text"
        name="pulse"
        [(ngModel)]="formData.pulse">
    </div>

    <div class="field-group">
      <label>Blood Pressure</label>
      <input
        type="text"
        name="bloodPressure"
        [(ngModel)]="formData.bloodPressure">
    </div>

    <div class="field-group">
      <label>ECG Rhythm</label>
      <input
        type="text"
        name="ecgRhythm"
        [(ngModel)]="formData.ecgRhythm">
    </div>

    <div class="field-group">
      <label>AED Applied</label>
      <select
        name="aed"
        [(ngModel)]="formData.aed">

        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>

      </select>
    </div>

  </div>

</section>
    <!-- SECTION C -->
    <!-- VASCULAR ACCESS -->
<section id="C" class="card">

  <h2>Vascular Access</h2>

  <div class="grid">

    <!-- AVF / AVG -->
    <div class="field-group">
      <label>AVF / AVG Used</label>
      <select name="avfUsed" [(ngModel)]="formData.avfUsed">
        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div class="field-group">
      <label>AVF Time (hour)</label>
      <input type="text" name="avfTime" [(ngModel)]="formData.avfTime">
    </div>

    <div class="field-group">
      <label>AVF Site</label>
      <input type="text" name="avfSite" [(ngModel)]="formData.avfSite">
    </div>

    <!-- CVC -->
    <div class="field-group">
      <label>CVC Used</label>
      <select name="cvcUsed" [(ngModel)]="formData.cvcUsed">
        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div class="field-group">
      <label>CVC Time (hour)</label>
      <input type="text" name="cvcTime" [(ngModel)]="formData.cvcTime">
    </div>

    <div class="field-group">
      <label>CVC Site</label>
      <input type="text" name="cvcSite" [(ngModel)]="formData.cvcSite">
    </div>

    <!-- IV Cannula -->
    <div class="field-group">
      <label>IV Cannula Time Initiated</label>
      <input type="text" name="ivTime" [(ngModel)]="formData.ivTime">
    </div>

    <div class="field-group">
      <label>IV Site</label>
      <input type="text" name="ivSite" [(ngModel)]="formData.ivSite">
    </div>

    <div class="field-group">
      <label>Inserted By</label>
      <input type="text" name="insertedBy" [(ngModel)]="formData.insertedBy">
    </div>

  </div>  


  <hr>

  <!-- OBSERVATION TABLE -->
  <h3>Vitals Observation Chart</h3>

  <div class="table-box">

    <table>

      <thead>
        <tr>
          <th>Time</th>
          <th>HR</th>
          <th>BP</th>
          <th>RR</th>
          <th>Pupils</th>
          <th>ECG Rhythm</th>
          <th>Tracing</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><input name="obsTime" [(ngModel)]="formData.obsTime"></td>
          <td><input name="hr" [(ngModel)]="formData.hr"></td>
          <td><input name="bp" [(ngModel)]="formData.bp"></td>
          <td><input name="rr" [(ngModel)]="formData.rr"></td>
          <td><input name="pupils" [(ngModel)]="formData.pupils"></td>
          <td><input name="ecg" [(ngModel)]="formData.ecg"></td>
          <td><input name="tracing" [(ngModel)]="formData.tracing"></td>
        </tr>
      </tbody>

    </table>

  </div>

  <hr>

  <!-- OUTCOME -->
  <h3>Outcome of Resuscitation</h3>

<div class="grid">

  <div class="field-group">
    <label>CPR Ended</label>
    <input type="text"
      name="cprEnded"
      [(ngModel)]="formData.cprEnded">
  </div>

  <div class="field-group">
    <label>Return of Circulation HR</label>
    <input type="text"
      name="rocHR"
      [(ngModel)]="formData.rocHR">
  </div>

  <div class="field-group">
    <label>Return of Circulation BP</label>
    <input type="text"
      name="rocBP"
      [(ngModel)]="formData.rocBP">
  </div>

  <div class="field-group">
    <label>Return of Circulation RR</label>
    <input type="text"
      name="rocRR"
      [(ngModel)]="formData.rocRR">
  </div>

  <div class="field-group">
    <label>EMS Arrival Time</label>
    <input type="text"
      name="emsArrived"
      [(ngModel)]="formData.emsArrived">
  </div>

  <div class="field-group">
    <label>Handover Time</label>
    <input type="text"
      name="handoverTime"
      [(ngModel)]="formData.handoverTime">
  </div>

  <div class="field-group">
    <label>Transferred To</label>
    <input type="text"
      name="transferredTo"
      [(ngModel)]="formData.transferredTo">
  </div>

  <div class="field-group">
    <label>Escorted By</label>
    <input type="text"
      name="escortedBy"
      [(ngModel)]="formData.escortedBy">
  </div>

 </div>
</section>
<section id="D" class="card">

  <h2>Shock & Drug Administration Record</h2>

  <div class="table-box">

    <table>

      <thead>
        <tr>
          <th>Time</th>
          <th>ECG Rhythm</th>
          <th>AED Defib</th>
          <th>Adrenaline (1:10,000)</th>
          <th>Atropine</th>
          <th>Ca Gluconate 10%</th>
          <th>NaHCO₃ 8.4%</th>
          <th>Other Drugs</th>
          <th>Route (IV/ETT)</th>
          <th>Administered By</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><input name="drugTime" [(ngModel)]="formData.drugTime"></td>
          <td><input name="drugECG" [(ngModel)]="formData.drugECG"></td>
          <td><input name="aedDefib" [(ngModel)]="formData.aedDefib"></td>
          <td><input name="adrenaline" [(ngModel)]="formData.adrenaline"></td>
          <td><input name="atropine" [(ngModel)]="formData.atropine"></td>
          <td><input name="calcium" [(ngModel)]="formData.calcium"></td>
          <td><input name="bicarbonate" [(ngModel)]="formData.bicarbonate"></td>
          <td><input name="otherDrugs" [(ngModel)]="formData.otherDrugs"></td>
          <td><input name="route" [(ngModel)]="formData.route"></td>
          <td><input name="adminBy" [(ngModel)]="formData.adminBy"></td>
        </tr>

      </tbody>

    </table>

  </div>

</section>

    <button class="submit-btn" type="submit">
      Submit CPR Form
    </button>

  </form>

</div>